@font-face {
    src: url(../font/UTM\ Bebas.ttf);
    font-family: utm-bebas;
}

@font-face {
    src: url(../font/UTM\ TAHOMA_0.TTF);
    font-family: tahoma;
}

#qc {
    margin: 0 10px 0 10px;
    border: grey 1px solid;
    z-index: 10;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: gainsboro;
    padding: 10px 9px;
    display: block;
    color: #444;
    font-size: 12px;
    font-weight: bold;
}

.nav-link {
    color: white;
}

.navbar-nav {
    margin-left: 0;
    position: relative;
}

.label {
    font-size: 11px;
    color: white;
    font-family: tahoma;
    background-color: orange;
    top: 0;
    left: 0;
    position: absolute;
}

.head {
    position: relative;
}

.logo {
    bottom: 0;
    left: -100px;
    position: absolute;
    z-index: 1;
}

.title1 {
    text-shadow: 1px 1px #000;
    width: 82%;
    padding: 0 15px;
    font: 700 21px/30px tahoma;
    color: white;
    position: absolute;
    bottom: 0;
}

.title1-1 {
    margin-bottom: 10px;
    text-shadow: 1px 1px #000;
    margin-top: 55px;
    width: 80%;
    padding: 0 15px;
    font: 700 17px/30px tahoma;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.title2 {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 15px;
    font: 700 16px/30px tahoma;
    color: #fff;
    position: absolute;
    bottom: 0;
}

.skgame {
    position: relative;
    display: flex;
    flex-direction: row;
}

ul li a {
    font-family: utm-bebas;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
    margin: 10px;
}

h2 {
    padding: 0 12px;
    height: 33px;
    font-size: 13px;
    line-height: 33px;
    font-weight: bold;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    color: #3c9054;
    display: block;
    font-size: 0.8em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nav-link {
    font-size: 15px;
}

.nav-link:hover {
    background-color: grey;
    color: white;
}

.content {
    color: #636463;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    display: table;
}

#viewall {
    background: #d21a32;
    font-size: 13px;
    font-weight: normal;
    padding: 3px 5px;
    color: #fff;
    position: absolute;
    right: 5px;
    bottom: 0;
}

#loadmore {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff!important;
    padding: 9px 0;
    background-color: #ce1328;
    background-image: linear-gradient(#d6213c, #ce1328);
    border: 1px solid #ab0014;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 2px;
    left: 0;
    display: block;
    width: 100%;
}

.gamemoblie {
    list-style-type: none;
    float: left;
    width: 120px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: relative;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #C6C5C5;
    border-radius: 20px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #C6C5C5;
    border-radius: 10px;
}

.titleUpdate {
    color: #393838;
    font-weight: bold;
    font-size: 20px;
    font-family: Tahoma;
}

.info {
    margin: 20px 20px 0px 20px;
    color: white;
    background-color: #525252;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 10px 20px;
}

.footer {
    background-color: #525252;
}


/*search */

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 80%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 50px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 100px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}